<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录--XXX管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/team/js/team.js"
            th:src="@{/common/common.js}"></script>

</head>
<body>


<!--新增团队-->
<script type="text/html" id="toolbarTeam">
    <a class="layui-btn layui-btn-xs" data-method="showAddTeamDialog" data-custom-event="team" >新增团队</a>
</script>

<!-- pay table -->
<div id="teamDiv">
    <table class="layui-hide" id="team" lay-filter="team"></table>
</div>



<!-- role tool-->
<script type="text/html" id="toolTeam">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>



<script type="text/html" id="teamCustomConfirm">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addCustomer" id="addCustomer">确认</button>
    </div>
</script>



<!-- 新增团队模态框 begin -->
<div class="modal fade bs-example-modal-lg" id="addTeamDialog" tabindex="-1" role="dialog" aria-labelledby="myModalView" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addRoleTitle">新增角色</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="addTeamForm">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>团队名称:</label>
                                        <div class="col-md-10">
                                            <input type="text" name="teamName" lay-verify="teamName" autocomplete="off" maxlength="200" placeholder="请输入角色名称" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit"  class="btn btn-primary" lay-submit lay-filter="addTeam">提交</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 新增团队模态框 end -->

<!-- 关联客户列模态框 begin -->
<div class="modal fade bs-example-modal-lg" id="relationCustomDialog"   tabindex="-1" role="dialog" aria-labelledby="myModalView" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="relationCustomTitle">客户列表</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12" id="relationDiv">
                                <input hidden type="text" name="teamId" id="teamId" class="layui-input">
                                <!--新增标签-->
                                <div class="keyDiv">
                                    搜索：
                                    <div class="layui-inline">
                                        <input class="layui-input" name="key" id="key" autocomplete="off" placeholder="请输入登录账号或昵称"/>
                                    </div>
                                    <button class="layui-btn" data-method="reloadViewTable">搜索</button>
                                </div>
                                <table class="layui-hide" id="relation" lay-filter="relation"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 关联用户、权限、角色模态框 end -->






</body>
</html>