<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/plugin/user/css/user.css"/>
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/user/js/user.js" th:src="@{/common/common.js}"></script>
</head>
<body>
<!--新增用户-->
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-method="showAddUserDialog" data-custom-event="user" id="addUser">新增用户</button>
</div>

<!-- user table -->
<div id="userDiv">
    <table class="layui-hide" id="user" lay-filter="user"></table>
</div>

<!-- user tobar-->
<script type="text/html" id="toolbarUser">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 新增用户模态框 -->
<div class="modal fade bs-example-modal-lg" id="addUserDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addUserModalLabel">新增用户</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="addUserForm">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>登录名</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loginNo" lay-verify="required" autocomplete="off" placeholder="请输入登录名" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户名</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">用户名拼音</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="namePinyin" autocomplete="off" placeholder="请输入用户名拼音" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户手机号</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="mobileNo" lay-verify="required|phone" autocomplete="off" placeholder="请输入用户手机号" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户邮箱</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="workEmail" lay-verify="required|email" autocomplete="off" placeholder="请输入用户邮箱" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" lay-submit lay-filter="addUser">提交</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 编辑用户模态框 -->
<div class="modal fade bs-example-modal-lg" id="editUserDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editUserModalLabel">编辑用户</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="editUserForm" lay-filter="editUserForm">

                                    <input hidden type="text" name="userId" class="layui-input">

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>登录名</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loginNo" lay-verify="required" autocomplete="off" placeholder="请输入登录名" class="layui-input" disabled>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户名</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input" disabled>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">用户名拼音</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="namePinyin" autocomplete="off" placeholder="请输入用户名拼音" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户手机号</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="mobileNo" lay-verify="required|phone" autocomplete="off" placeholder="请输入用户手机号" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户邮箱</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="workEmail" lay-verify="required|email" autocomplete="off" placeholder="请输入用户邮箱" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" lay-submit lay-filter="editUser">更新</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>