<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ground Push</title>
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/home/js/home.js"
            th:src="@{/common/common.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">Ground Push-地推</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="/images/photo.jpg" class="layui-nav-img"> <span th:text="${user != null && user.name != null? user.name:''}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="Javascript:;" id="user-info" >基本资料</a></dd>
                    <dd><a href="Javascript:;" id="user-pwd">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/logout">logOut</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="menu-tree">
            </ul>
        </div>
    </div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px; height: 100%">
            <iframe src="/page" id="iframe-menu" frameborder="0" scrolling="auto" width="100%" height="100%" class="m-frame"></iframe>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>

<!-- 修改用户模态框 -->
<div class="modal fade bs-example-modal-lg" id="updateUserDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:25%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="updateUserModalLabel">更新用户</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="updateUserForm" lay-filter="updateUserForm" th:object="${user}">

                                    <input hidden type="text" name="userId" class="layui-input" th:field="*{userId}" />

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>登录名</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loginNo" th:field="*{loginNo}" lay-verify="required" autocomplete="off" placeholder="请输入登录名" class="layui-input" disabled>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户名</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="name" th:field="*{name}" lay-verify="required" autocomplete="off" placeholder="请输入用户名" class="layui-input" disabled>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">用户名拼音</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="namePinyin" th:field="*{namePinyin}" autocomplete="off" placeholder="请输入用户名拼音" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户手机号</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="mobileNo" th:field="*{mobileNo}" lay-verify="required|phone" autocomplete="off" placeholder="请输入用户手机号" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>用户邮箱</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="workEmail" th:field="*{workEmail}"  lay-verify="required|email" autocomplete="off" placeholder="请输入用户邮箱" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" lay-submit lay-filter="updateUser">更新</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 安全设置 -->
<div class="modal fade bs-example-modal-lg" id="updateUserPwdDialog" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="margin-top:30%;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="updateUserPwdModalLabel">修改用户</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="updateUserPwdForm" lay-filter="updateUserPwdForm" th:object="${user}">

                                    <input hidden type="text" name="userId" class="layui-input" th:field="*{userId}" />

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>新密码</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="password"  autocomplete="off" placeholder="请输入密码（密码必须包含为大小写字母、数字或特殊符号的8-16位字符）" class="layui-input" >
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>确认密码</label>
                                        <div class=" col-md-10">
                                            <input type="text" name="confirmPwd" autocomplete="off" placeholder="请输入确认密码" class="layui-input">
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" lay-submit lay-filter="updateUserPwd">更新</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>