<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Ground Push</title>
    <script type="text/javascript" th:src="@{/common/common.js}"></script>
</head>
<body class="layui-layout-body">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>路客地推时间线</legend>
</fieldset>
<ul class="layui-timeline">

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">9月X日</h3>
            <p>待续：</p>
            <ul>
                <li>... <i class="layui-icon"></i></li>
            </ul>
        </div>
    </li>

    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">9月05日</h3>
            <p>攻城师<em>郝帅帅、卢忠强</em>加入，项目团队再次扩建。项目进入孵化期：</p>
            <ul>
                <li>路客地推架构完善</li>
                <li>PC端功能完善</li>
                <li>...</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">8月19日</h3>
            <p>攻城师<em>陈海振、张恒全</em>加入，项目团队开始扩建。主要负责：</p>
            <ul>
                <li>APP端开发</li>
                <li>对接UI</li>
                <li>PC端任务模块开发</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title">8月12日</h3>
            <p>路客地推需求分析：</p>
            <ul>
                <li>任务模块</li>
                <li>订单模块</li>
                <li>我的模块</li>
                <li>...</li>
            </ul>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis"></i>
        <div class="layui-timeline-content layui-text">
            <div class="layui-timeline-title">过去</div>
        </div>
    </li>
</ul>
</body>
</html>