<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>登录--XXX管理系统</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" type="text/css" href="/plugin/menu/css/menu.css"/>
        <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/menu/js/menu.js"
                th:src="@{/common/common.js}"></script>

    </head>
    <body>
        <!--新增菜单-->
        <script type="text/html" id="toolbarMenu">
            <a class="layui-btn layui-btn-xs" data-method="showAddMenuDialog" data-custom-event="menu">新增菜单</a>
        </script>


        <!-- menu table -->
        <div id="menuDiv">
            <table class="layui-hide" id="menu" lay-filter="menu"></table>
        </div>

        <!-- menu tobar-->
        <script type="text/html" id="toolbarMenuOper">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>

        <!-- 新增菜单模态框 -->
        <div class="modal fade bs-example-modal-lg" id="addMenuDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="addMenuModalLabel">新增菜单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-max no-padding">
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="layui-form" action="" id="addMenuForm">
                                            <div class="layui-form-item">
                                                <label class="layui-form-label col-md-2"><span class="required_style">*</span>菜单名称</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                                                </div>
                                            </div>
<!--                                            <div class="layui-form-item">-->
<!--                                                <label class="layui-form-label col-md-2">父级菜单</label>-->
<!--                                                <div class=" col-md-10">-->
<!--                                                    <select name="parentId" lay-search="">-->
<!--                                                        <option value="">直接选择或搜索选择</option>-->
<!--                                                        <option th:each="menu,userStat:${menus}" th:value="${menu.menuId}" th:text="${menu.name}" ></option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->

                                            <div class="layui-form-item">
                                                <label class="layui-form-label col-md-2">菜单URI</label>
                                                <div class=" col-md-10">
                                                    <input type="text" name="path" autocomplete="off" placeholder="请输入菜单URI" class="layui-input">
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit"  class="btn btn-primary" lay-submit lay-filter="addMenu">提交</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 编辑菜单模态框 -->
        <div class="modal fade bs-example-modal-lg" id="editMenuDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="editMenuModalLabel">编辑菜单</h4>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body-max no-padding">
                            <div class="page-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="layui-form" action="" id="editMenuForm" lay-filter="editMenuForm">

                                            <input hidden type="text" name="menuId" class="layui-input">
                                            <input hidden type="text" name="seq" class="layui-input">
                                            <input hidden type="text" name="leaf" class="layui-input">

                                            <div class="layui-form-item">
                                                <label class="layui-form-label col-md-2"><span class="required_style">*</span>菜单名称</label>
                                                <div class="col-md-10">
                                                    <input type="text" name="name" lay-verify="required" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                                                </div>
                                            </div>
<!--                                            <div class="layui-form-item">-->
<!--                                                <label class="layui-form-label col-md-2">父级菜单</label>-->
<!--                                                <div class=" col-md-10">-->
<!--                                                    <select name="parentId" lay-search="">-->
<!--                                                        <option value="">直接选择或搜索选择</option>-->
<!--                                                        <option th:each="menu,userStat:${menus}" th:value="${menu.menuId}" th:text="${menu.name}" ></option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->

                                            <div class="layui-form-item">
                                                <label class="layui-form-label col-md-2">菜单URI</label>
                                                <div class=" col-md-10">
                                                    <input type="text" name="path" autocomplete="off" placeholder="请输入菜单URI" class="layui-input">
                                                </div>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="submit"  class="btn btn-primary" lay-submit lay-filter="editMenu">更新</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>