<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ground Push</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/plugin/login/css/login.css"/>
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/login/js/login.js"
            th:src="@{/common/common.js}"></script>
</head>
<body>
<!--登录背景-->
<div class="video_mask">
    <img th:src="@{/images/login_bg.jpg}">
</div>
<div class="login">
    <h1>登录</h1>
    <form class="layui-form" method="post">
        <div class="layui-form-item">
            <input class="layui-input" name="username" placeholder="用户名" lay-verify="required" type="text" autocomplete="off">
        </div>
        <div class="layui-form-item">
            <input class="layui-input" name="password" placeholder="密码" lay-verify="required|password" type="password" autocomplete="off">
        </div>
        <div class="layui-form-item form_code">
            <input class="layui-input" name="imageCode" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">
            <div class="validation-code"><img src="/validate/codeImage" width="116" height="36"></div>
        </div>
        <button type="submit" class="layui-btn login_btn" lay-submit="" lay-filter="login">登录</button>

        <!--        <p style="color: red" id="security-message" th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>-->
    </form>

    <!--    <h1>手机号登录测试</h1>-->
    <!--    <form class="layui-form" method="post" action="/authentication/mobile">-->
    <!--        <div class="layui-form-item">-->
    <!--            <input class="layui-input" id="mobile" name="mobile" placeholder="手机号" value="13888888888" lay-verify="required" type="text" autocomplete="off">-->
    <!--        </div>-->

    <!--        <div class="layui-form-item form_code">-->
    <!--            <input class="layui-input" name="mobileCode" placeholder="验证码" lay-verify="required" type="text" autocomplete="off">-->
    <!--            <div class="validation-code"><button type="button" id="smsCode" class="layui-btn">发送验证</button></div>-->
    <!--        </div>-->
    <!--        <button type="submit" class="layui-btn login_btn" lay-submit="" lay-filter="mobile">登录</button>-->

    <!--        <p style="color: red" id="security-message-mobile" th:if="${param.error}" th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></p>-->
    </form>
</div>
</body>
</html>
