<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/plugin/operationLog/css/operationLog.css"/>
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/operationLog/js/operationLog.js"
            th:src="@{/common/common.js}"></script>

</head>
<body>
<!-- uri table -->
<table class="layui-hide" id="uri" lay-filter="uri"></table>

<!-- uri tobar-->
<script type="text/html" id="toolbarUri">
</script>

</body>
</html>