<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录--XXX管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="/plugin/label/css/label.css"/>
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/label/js/label.js"
            th:src="@{/common/common.js}"></script>

</head>
<body>
<!--新增菜单-->
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-method="showAddLabelDialog" data-custom-event="label" id="addLabel">新增标签</button>
</div>

<!-- menu table -->
<table class="layui-hide" id="label" lay-filter="label"></table>

<!-- menu tobar-->
<script type="text/html" id="toolbarLabel">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!-- 新增标签模态框 begin -->
<div class="modal fade bs-example-modal-lg" id="addLabelDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addLabelModalLabel">新增标签</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="addMenuFrom">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签名称:</label>
                                        <div class="col-md-10">
                                            <input type="text" name="labelName" lay-verify="labelName" autocomplete="off" maxlength="50" placeholder="请输入菜单名称" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签类型:</label>
                                        <div class="col-md-10">
                                            <input type="radio" name="type" value="1" title="主要标签" checked >
                                            <input type="radio" name="type" value="0" title="次要标签" >
                                        </div>
                                    </div>

                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签说明:</label>
                                        <div class="col-md-10">
                                            <textarea name="remark" placeholder="请输入标签说明" lay-verify="remark" maxlength="500" class="layui-textarea"></textarea>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="submit"  class="btn btn-primary" lay-submit lay-filter="addLabel">提交</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 新增标签模态框 end -->

<!-- 编辑标签模态框 begin -->
<div class="modal fade bs-example-modal-lg" id="editLabelDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="editMenuModalLabel">编辑菜单</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="layui-form" action="" id="editLabelFrom" lay-filter="editLabelFrom">

                                    <input hidden type="text" name="labelId" class="layui-input">

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签名称</label>
                                        <div class="col-md-10">
                                            <input type="text" name="labelName" lay-verify="labelName" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签类型</label>
                                        <div class="col-md-10">
                                            <input type="radio" name="type" value="1" title="主要标签" checked >
                                            <input type="radio" name="type" value="0" title="次要标签" >
                                        </div>
                                    </div>

                                    <div class="layui-form-item layui-form-text">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标签说明</label>
                                        <div class="col-md-10">
                                            <textarea name="remark" placeholder="请输入标签说明" lay-verify="remark" class="layui-textarea"></textarea>
                                        </div>
                                    </div>


                                    <div class="modal-footer">
                                        <button type="submit"  class="btn btn-primary" lay-submit lay-filter="editLabel">更新</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 编辑标签模态框 end -->

</body>
</html>