<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录--XXX管理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" id="groundpush-scrpit" pageSrc="/plugin/task/js/task.js"
            th:src="@{/common/common.js}"></script>

</head>
<body>

<input  type="hidden" th:value="${spread}" name="spread" id="spread" />

<!--新增角色-->
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-method="showTaskModal" data-custom-event="task">新增任务</button>
</div>

<!-- task table -->
<table class="layui-hide" id="task" lay-filter="task"></table>



<!-- task tool-->
<script type="text/html" id="toolTask">
    <a class="layui-btn layui-btn-xs" lay-event="check">查看任务</a>
    <a class="layui-btn layui-btn-xs" lay-event="publish">发布任务</a>
    <a class="layui-btn layui-btn-xs" id="uploadFile{{d.taskId}}" >上传任务URL</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除任务</a>
</script>



<!--******************************************用于我的任务编辑添加模板**begin***************************************************-->
<!-- 用于添加阶段-->
<script id="phase" type="text/html">
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-card">
            <div class="layui-card-header"><label>{{d.title }}</label>
                &emsp;&emsp;<a class="layui-btn layui-btn-sm addPhaseImg" >添加图片</a>
                &emsp;&emsp;<a class="layui-btn layui-btn-sm addPhaseText" >添加文本</a>
                &emsp;&emsp;<a class="layui-btn layui-btn-danger layui-btn-sm delPhase" >删除阶段</a>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="6%">
                        <col width="14%">
                        <col width="65%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>类型</th>
                        <th>类型值</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input class="form-control col-lg-1" type="text" name="seq" value="1" readonly="readonly" />
                        </td>
                        <td>
                            <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
                                <select class="form-control col-lg-3" name="rowType"    disabled>
                                    <option value="1"  selected>标题</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input type="text" name="content" class="form-control col-lg-5 content" value=""  placeholder="输入文本内容">
                        </td>
                        <td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</script>

<!-- 用于添加阶段中添加文本或图片-->
<script id="phaseTr" type="text/html">
    <tr>
        <td>
            <input class="form-control col-lg-1" type="text" name="seq" value="{{d.seq}}" readonly="readonly" />
        </td>

        {{# if(d.rowType == 5 ){ }}
        <td>
            <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
            <select class="form-control col-lg-1" name="rowType" >
                <option value="5"  selected>图片</option>
            </select>
            </div>
        </td>
        <td>
            <img class="imgShow{{d.imgCode}} my-img form-control col-lg-1" src="/images/sample_img.png" style="height: 300px;min-width:100%;display:inline"  />
            <input type="hidden" class="imgVal{{d.imgCode}} content" name="content" value="" />
            <input type="hidden" class="imgCode" name="imgCode" value="{{d.imgCode}}" />
        </td>

        {{# }else{ }}
        <td>
            <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
            <select class="form-control col-lg-1 rowType" name="rowType" lay-filter="rowType" >
                <!--<option value="2" selected>内容</option>-->
                <option value="3" selected >打开URL</option>
                <option value="4" >保存二维码</option>
            </select>
            </div>
        </td>
        <td>
            <!--<textarea class="form-control col-lg-5 content" name="content"  style="font-family: mFont;height:150px;margin-left: 5px;"></textarea>-->
            <input type="text" name="content" class="form-control col-lg-1 content" value=""  placeholder="输入文本内容" style="width:85%;float:left;margin-right:3%;">
            <input type="radio" name="createUri" class="form-control createUri" title="生成" style="float:left;" lay-filter="createUri">
        </td>
        {{# } }}
        <td>

                {{# if(d.seq > 1){ }}
                <a class="layui-btn layui-btn-sm layui-icon layui-icon-up upTr"  ></a>
                <a class="layui-btn  layui-btn-sm layui-icon layui-icon-down downTr"   ></a>
                {{# }  }}
                <a class="layui-btn layui-btn-danger layui-btn-sm delTr" >删除</a>

        </td>
    </tr>
</script>
<!-- rowType对应类型   -- 对应“内容”类型暂时注释-->
<!--<script id="selectContent" type="text/html">
    &lt;!&ndash; 内容 &ndash;&gt;
    {{# if(d.rowType == 2 ){ }}
    <textarea class="form-control col-lg-5 content" name="content" lay-filter="content"  style="font-family: mFont;height:150px;margin-left: 5px;"></textarea>
    {{# } }}
    &lt;!&ndash; 打开URL、保存二维码 &ndash;&gt;
    {{# if(d.rowType == 3 || d.rowType == 4){ }}
        <input type="text" name="content" class="form-control col-lg-1 content" value=""  placeholder="输入文本内容" style="width:85%;float:left;margin-right:3%;">
        <input type="radio" name="createUri" class="form-control createUri" title="生成" style="float:left;" lay-filter="createUri">
    {{# } }}
</script>-->
<!--******************************************用于我的任务编辑添加模板**end***************************************************-->


<!--******************************************用于结果集上传编辑添加修改模板**begin***************************************************-->
<!-- 用于添加任务结果集-->
<script id="resultAdd" type="text/html">
    {{# if(d.seq == 1){ }}
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="6%">
            <col width="14%">
            <col width="65%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>类型值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <input class="form-control col-lg-1" type="text" name="seq" value="{{d.seq}}" readonly="readonly" />
            </td>
            <td>
                <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
                    <select class="form-control col-lg-1" name="rowType"  disabled>
                        <option value="1" selected>标题</option>
                        <option value="2" >图片</option>
                    </select>
                    <div>
            </td>
            <td>
                <input class="form-control col-lg-1 content" name="content" value="请输入订单编号"  placeholder="请输入文本内容" />
            </td>
            <td>

            </td>
        </tr>
        </tbody>
    </table>
    {{# }else{ }}
    <tr>
        <td>
            <input class="form-control col-lg-1" type="text" name="seq" value="{{d.seq}}" readonly="readonly" />
        </td>
        <td>
            <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
                <select class="form-control col-lg-1" name="rowType"  >
                    <option value="1" selected>标题</option>
                    <option value="2" >图片</option>
                </select>
             <div>
        </td>
        <td>
            <input class="form-control col-lg-1 content" name="content" placeholder="请输入文本内容" />
        </td>
        <td>
            <a class="layui-btn layui-btn-sm layui-icon layui-icon-up upTr"   ></a>
            <a class="layui-btn  layui-btn-sm layui-icon layui-icon-down downTr"   ></a>
            <a class="layui-btn layui-btn-danger layui-btn-sm delTr" >删除</a>
        </td>
    </tr>
    {{# } }}
</script>
<!-- 用于修改任务结果集-->
<script id="resultUpdateEcho" type="text/html">
    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="6%">
            <col width="14%">
            <col width="65%">
            <col width="15%">
        </colgroup>
        <thead>
        <tr>
            <th>序号</th>
            <th>类型</th>
            <th>类型值</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{# layui.each(d.array, function(index, item){  }}
        <tr>
            <td>
                <input class="form-control col-lg-1" type="text" name="seq" value="{{item.seq}}" readonly="readonly" />
            </td>
            <td>
                <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
                    <select class="form-control col-lg-1" name="rowType" {{ item.seq==1?'disabled':'' }}  >
                        <option value="1" {{ item.rowType==1?'selected':'' }}>标题</option>
                        <option value="2" {{ item.rowType==2?'selected':'' }}>图片</option>
                    </select>
                    <div>
            </td>
            <td>
                <input class="form-control col-lg-1 content" name="content" value="{{ item.content != '' && item.content != undefined?item.content:'' }}"  placeholder="请输入文本内容" />
            </td>
            <td>
                {{# if(item.seq > 1){ }}
                    <a class="layui-btn layui-btn-sm layui-icon layui-icon-up upTr"   ></a>
                    <a class="layui-btn  layui-btn-sm layui-icon layui-icon-down downTr"  ></a>
                    <a class="layui-btn layui-btn-danger layui-btn-sm delTr" >删除</a>
                {{# } }}
            </td>
        </tr>
        {{# });  }}
        </tbody>
    </table>

</script>
<!--******************************************用于结果集上传编辑添加修改模板**end***************************************************-->


<!--******************************************用于我的任务编辑回显修改模板**begin***************************************************-->

<script id="phaseTableEcho" type="text/html">
    {{# layui.each(d.array, function(index, arr){  }}
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-card">
            <div class="layui-card-header"><label>第{{arr.labelType }}阶段</label>
                &emsp;&emsp;<a class="layui-btn layui-btn-sm addPhaseImg" >添加图片</a>
                &emsp;&emsp;<a class="layui-btn layui-btn-sm addPhaseText" >添加文本</a>
                &emsp;&emsp;<a class="layui-btn layui-btn-danger layui-btn-sm delPhase" >删除阶段</a>
            </div>
            <div class="layui-card-body">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="6%">
                        <col width="14%">
                        <col width="65%">
                        <col width="15%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>类型</th>
                        <th>类型值</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{# layui.each(arr.list, function(index, item){  }}
                    <tr>
                        <td>
                            <input class="form-control col-lg-1" type="text" name="seq" value="{{ item.seq }}" readonly="readonly" />
                        </td>
                        <td>
                            <div class="layui-input-inline layui-form" lay-filter="rowTypeDiv">
                                <select class="form-control col-lg-3" name="rowType"  {{ item.rowType==1?'disabled':'' }} >
                                    {{# if(item.rowType==1){ }}
                                      <option value="1"  selected>标题</option>
                                    {{# } }}
                                    {{# if(item.rowType==2 || item.rowType==3 || item.rowType==4){ }}
                                    <!--<option value="2"  {{ item.rowType==2?'selected':'' }}>内容</option>-->
                                    <option value="3"  {{ item.rowType==3?'selected':'' }}>打开URL</option>
                                    <option value="4"  {{ item.rowType==4?'selected':'' }}>保存二维码</option>
                                    {{# } }}
                                    {{# if(item.rowType==5){ }}
                                    <option value="5"  selected>图片</option>
                                    {{# } }}
                                </select>
                            </div>
                        </td>
                        <td>
                            <!-- 标题 -->
                            {{# if(item.rowType == 1){ }}
                            <input type="text" name="content" class="form-control col-lg-5 content" value="{{ item.content != undefined?item.content:'' }}"  placeholder="输入文本内容">
                            {{# } }}
                            <!-- 内容 -->
                            {{# if(item.rowType == 2){ }}
                            <textarea class="form-control col-lg-5 content" name="content"  style="font-family: mFont;height:150px;margin-left: 5px;">{{ item.content != undefined?item.content:'' }}</textarea>
                            {{# } }}
                            <!-- 打开URL、保存二维码 -->
                            {{# if(item.rowType == 3 || item.rowType == 4){ }}
                            <input type="text" name="content" class="form-control col-lg-1 content" value="{{ item.content != undefined?item.content:'' }}"  placeholder="输入文本内容"  {{ item.createUri==1?'readonly="readonly"':'' }}  style="width:85%;float:left;margin-right:3%;">
                            <input type="radio" name="createUri" class="form-control createUri" title="生成" style="float:left;" {{ item.createUri==1?'checked':'' }}  lay-filter="createUri" />
                            {{# } }}

                            <!-- 图片 -->
                            {{# if(item.rowType == 5){ }}
                            <img class="imgShow{{item.imgCode}} my-img form-control col-lg-1" src="{{ item.content != undefined?item.content:'/images/sample_img.png' }}" style="height: 300px;min-width:100%;display:inline"  />
                            <input type="hidden" class="imgVal{{item.imgCode}} content" name="content" value="{{ item.content != undefined?item.content:'' }}" />
                            <input type="hidden" class="imgCode" name="imgCode" value="{{item.imgCode}}" />
                            {{# } }}
                        </td>
                        <td>
                            {{# if(item.rowType >1){ }}
                                {{# if(item.seq > 1){ }}
                                 <a class="layui-btn layui-btn-sm layui-icon layui-icon-up upTr"  ></a>
                                 <a class="layui-btn  layui-btn-sm layui-icon layui-icon-down downTr" ></a>
                                {{# }  }}
                                <a class="layui-btn layui-btn-danger layui-btn-sm delTr" >删除</a>
                            {{# }  }}
                        </td>
                    </tr>
                    {{# });  }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{# });  }}
</script>

<!--******************************************用于我的任务编辑回显修改模板**end***************************************************-->

<!-- 新增角色模态框 begin -->
<div class="modal fade bs-example-modal-lg" id="addUpdateTaskDialog" tabindex="-1" role="dialog" aria-labelledby="myModalView" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="width: 80%" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addRoleTitle">新增任务</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body-max no-padding">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <form  class="layui-form" action="" id="addTaskForm" lay-filter="addTaskForm">
                                    <input hidden type="text" name="taskId" id="taskId" lay-verify="taskId" class="layui-input">
                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                        <legend>&emsp;<span class="required_style">*</span>&emsp;缩&emsp;略&emsp;图 (推荐尺寸：90*75)</legend>
                                    </fieldset>
                                    <div class="layui-form-item">

                                        <div class="layui-upload">
                                            <div class="layui-upload-list" style="margin-left: 7%">
                                                <img class="layui-upload-img" id="imgThum" width="20%" height="5%" src="/images/sample_img.png" title="点击更换图片" />
                                                <p id="thumText"></p>
                                                <input hidden type="text" name="thumInput" id="thumInput" lay-verify="thumInput" class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                        <legend><span class="required_style">*</span>&emsp;&emsp;示&emsp;例&emsp;图 (推荐尺寸：160*95)</legend>
                                    </fieldset>
                                    <div class="layui-form-item">
                                        <div class="layui-upload">
                                            <div class="layui-upload-list" style="margin-left: 7%">
                                                <img class="layui-upload-img" id="imgSample" width="20%" height="5%" src="/images/sample_img.png" title="点击更换图片" />
                                                <p id="sampleText"></p>
                                                <input hidden type="text" name="sampleInput" id="sampleInput" lay-verify="sampleInput" class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                                        <legend><span class="required_style">*</span>&emsp;&emsp;封&emsp;面&emsp;图 (推荐尺寸：360*200)</legend>
                                    </fieldset>
                                    <div class="layui-form-item">

                                        <div class="layui-upload">
                                            <div class="layui-upload-list" style="margin-left: 7%">
                                                <img class="layui-upload-img" id="imgCover" width="20%" height="5%" src="/images/sample_img.png" title="点击更换图片" />
                                                <p id="coverText"></p>
                                                <input hidden type="text" name="coverInput" id="coverInput" lay-verify="coverInput" class="layui-input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标&emsp;&emsp;题:</label>
                                        <div class="col-md-8">
                                            <input class="form-control" name="title" id="title"  lay-verify="title" autocomplete="off" maxlength="120" placeholder="请输入标题" type="text">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>简略标题:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-10" name="briefTitle"  id="briefTitle" lay-verify="briefTitle" autocomplete="off" maxlength="7" placeholder="请输入简略标题（最多7个字符）" type="text">
                                        </div>
                                    </div>

                                   <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>标&emsp;&emsp;签:</label>
                                        <div class="col-md-8">
                                            <select class="selectpicker form-control" multiple id="selectLabelIds" name="selectLabelIds"
                                                    data-title="点击选择标签（可多选）"  data-live-search="true"
                                                    data-live-search-placeholder="搜索" data-actions-box="true" lay-ignore>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>公&emsp;&emsp;司:</label>
                                        <div class="col-md-8">
                                            <div class="layui-input-inline layui-form" style="width:30%;" lay-filter="source">
                                                <select class="form-control col-lg-3" name="source" id="source" placeholder="请输入公司"   >
                                                </select>
                                            </div>
                                            <select class="selectpicker  col-lg-4" name="provinces" id="provinces" multiple
                                                    data-title="请选择省份（可多选）" data-live-search="true"
                                                    data-live-search-placeholder="搜索" data-actions-box="true" lay-ignore >
                                            </select>
                                            <select class="selectpicker col-lg-4" name="locations" id="locations" multiple data-live-search="true"
                                                    data-title="请选择城市（可多选）"  data-live-search-placeholder="搜索" data-actions-box="true" lay-ignore>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>单笔佣金:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="amount" id="amount" lay-verify="amount" autocomplete="off" maxlength="8" placeholder="请输入单笔佣金" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">/元</span>
                                    </div>


                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>推广总数:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="spreadTotal" id="spreadTotal" lay-verify="spreadTotal" autocomplete="off" maxlength="11" placeholder="请输入推广总数" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">/天</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>可推广任务数:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="handlerNum" id="handlerNum" lay-verify="handlerNum" autocomplete="off" maxlength="11" placeholder="请输入可推广任务数" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">/人/天</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>审核天数:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="auditDuration" id="auditDuration" lay-verify="auditDuration" autocomplete="off" maxlength="11" placeholder="请输入审核天数" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">/天</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>任务耗时:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="expendTime" id="expendTime" lay-verify="expendTime" autocomplete="off" maxlength="11" placeholder="请输入任务耗时" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">/分钟</span>
                                    </div>


                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>综合通过率:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="completeOdds" id="completeOdds" lay-verify="completeOdds" autocomplete="off" maxlength="11" placeholder="请输入综合通过率" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">%</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>推广人分成:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="spreadRatio" id="spreadRatio" lay-verify="spreadRatio" autocomplete="off" maxlength="11" placeholder="请输入推广人分成" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">%</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>推广人上级分成:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="spreadParentRatio" id="spreadParentRatio" lay-verify="spreadParentRatio" autocomplete="off" maxlength="11" placeholder="请输入推广人上级分成" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">%</span>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">团队领导分成:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="leaderRatio" id="leaderRatio" lay-verify="leaderRatio" autocomplete="off" maxlength="11" placeholder="请输入团队领导分成" type="number">
                                        </div>
                                        <span class="btn col-lg-1" style="text-align: left;">%</span>
                                    </div>


                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>介绍标题:</label>
                                        <div class="col-md-8">
                                            <input class="form-control col-lg-1" name="taskTitle" id="taskTitle" lay-verify="taskTitle" autocomplete="off" maxlength="200" placeholder="请输入介绍标题" type="text">
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2"><span class="required_style">*</span>介绍内容:</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control col-lg-1" name="taskContent" id="taskContent" lay-verify="taskContent" autocomplete="off" maxlength="500" placeholder="请输入介绍内容" ></textarea>
                                        </div>
                                    </div>


                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">是否上传结果:</label>
                                        <div class="col-md-8">
                                            <select class="form-control col-lg-1" name="isResult" id="isResult" >
                                                <option value="false">否</option>
                                                <option value="true">是</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <label class="layui-form-label col-md-2">任务类型:</label>
                                        <div class="col-md-8">
                                            <select class="form-control col-lg-1" name="type" id="type" >
                                                <option value="1">微信外</option>
                                                <option value="0">微信内</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="layui-tab">
                                        <ul class="layui-tab-title">
                                            <li class="layui-this"><span class="required_style">*</span>任务详情&emsp;&emsp;<button type="button" class="layui-btn  layui-btn-xs layui-btn-small addPhase" title="添加阶段" id="addPhase"><i class="layui-icon"></i></button></li>
                                            <li><span class="required_style">*</span>任务结果&emsp;&emsp;<button type="button" class="layui-btn  layui-btn-xs layui-btn-small addResult" title="添加任务结果集" id="addResult"><i class="layui-icon"></i></button></li>
                                        </ul>
                                        <div class="layui-tab-content">
                                            <div class="layui-tab-item layui-show">
                                                <div class="layui-form-item">
                                                    <div id="view"></div>
                                                </div>
                                            </div>
                                            <div class="layui-tab-item">
                                                <div class="layui-form-item" id="resultView">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit"  class="btn btn-primary" lay-submit lay-filter="addUpdateTask">提交</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 新增角色模态框 end -->


</body>
</html>