<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>跳转中......</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <style>
        body {
            height: 100%;
            width: 100%;
            background: url('/static/img/erweimashixiao.png');
            background-size: cover;
        }

        .show_font {
            font-size: 20px;
            font-family: cursive;
            margin-top: 60%;
            margin-left: 35%;
        }
    </style>


</head>
<style>

</style>
<body>

<!--分享引导框开始-->
<div id="guide_box" style="display:none;position:absolute;background:#000;width:100%;height:auto;" >
    <img src="/static/img/wx_1.png" width="100%" height="100%">
</div>


<p th:if="${errorMsg != null}" class="show_font" th:text="${errorMsg}"></p>
<script type="text/javascript">
    function is_weixn(){
        let ua = navigator.userAgent.toLowerCase();
        if(ua.match(/micromessenger/i)=="micromessenger") {
            return true;
        } else {
            return false;
        }
    }

    let isWx = is_weixn();
    let uri = '[[${uri}]]';
    if (uri != '' && uri != undefined && uri != null) {
            if(isWx){
                let href = location.href
                if(href.match(/againPath/i) == 'againPath'){
                    document.getElementById("guide_box").style.display = "block";
                }else{
                    location.href = '/againPath?backUrl='+uri;
                }
            }else{
                location.href = uri;
            }
    }

</script>
</body>
</html>